body {
  background-color: rgb(197, 189, 189);
  color: azure;
  padding: 1rem;
  margin: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(228, 225, 225);
  text-align: center;
}

.profile {
  text-align: center;
  padding: 20px;
  background-color: rgb(48, 49, 49);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(192, 35, 35, 0.1);
}

.Profilepic {
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
}

.bio-section {
  background-color: rgb(48, 49, 49);
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sectionSkills {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(48, 49, 49);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.skills li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills {
  padding: 0%;
}

.skills li:hover {
  background-color: rgb(20, 154, 161);
}

.sectionEduc {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(48, 49, 49);
}

.educ {
  width: 100%;
  border: 1px solid whitesmoke;
  border-collapse: collapse;
  text-align: left;
}

.educ th,
.educ td {
  border: 1px solid whitesmoke;
  padding: 10px;
}

.educ th {
  background-color: rgb(20, 154, 161);
  color: white;
  text-align: center;
}

.contact {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(48, 49, 49);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.Profilepic {
  width: 180px;
  height: 200px;
}

.skills li {
  font-size: 16px;
}
